.custom-card-font-title{
    color: white;
    font-family: 'KimjungchulGothic-Bold', sans-serif;
    marginBottom: 10;
    text-align: center;
}

.custom-card-font-desc {
    color: #616161;
    font-family: 'KimjungchulGothic-Bold', sans-serif;
    marginBottom: 10;
    text-align: center;
}
