.custom-bg {
    background-color: rgb(21,20,24);
}

.custom-img {
    object-fit: cover; /* 이미지가 캐러셀 항목을 채우도록 설정 */
    height: 400px; /* 캐러셀 이미지의 높이. 필요에 따라 조절 */
}

.carousel-item {
    transition: transform 1s ease-in-out; /* 수직 전환 애니메이션 */
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    transform: translateY(100%); /* 수직으로 이동 */
}

.carousel-item-start {
    transform: translateY(0);
}


.carousel.vertical .carousel-inner {
    flex-direction: column;
}

.carousel.vertical .carousel-item-next.carousel-item-left,
.carousel.vertical .carousel-item-prev.carousel-item-right {
    transform: translateY(0);
    top: 0;
}

.carousel.vertical .carousel-item-next,
.carousel.vertical .carousel-item-prev.carousel-item-left.carousel-item-prev,
.carousel.vertical .carousel-item.active {
    transform: translateY(-100%);
    top: 0;
}
